<nav class="navbar navbar-light">
  <a href="/" class="navbar-brand">Mongo Scraper</a>
  <ul class="navbar-nav mr-auto flex-row">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="/saved">Saved Job Postings</a></li>
    <li class="nav-item"><button class="btn">Scrape Job Postings!</button></li>
    <li class="nav-item"><button class="btn">Clear Job Postings!</button></li>
  </ul>
</nav>
<div class="jumbotron text-center p-0">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>Indeed Edition</p>
  </div>
</div>